name: static link minimal curl build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
env:
  # TODO: Change variable to your image's name.
  DOCKER_REPO: docker.io
  DOCKER_NS: bettercode

jobs:
  ci:

    runs-on: ubuntu-latest
    env:
      PRF_PATH:  ${PWD}/prefixbld
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: |
        set -x
        make
    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        # Artifact name
        name: curl
        # A file, directory or wildcard pattern that describes what to upload
        path: scurl/_bin/curl
        
    - name: Docker push  
      run: |
        export DOCKER_REPO=docker.io
        export DOCKER_NS=bettercode
        export DOCKER_PASS='${{ secrets.hub_docker_com_pass }}'
        bash scripts/docker.sh
