name: static link minimal curl build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  ci:

    runs-on: ubuntu-latest
    env:
      PRF_PATH:  ${PWD}/prefixbld
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: |
        set -x
        git clone --depth=1 https://github.com/curl/curl.git
        cd curl;
        ./buildconf 
        ./configure --disable-shared --enable-static --prefix=/tmp/curl --disable-ldap --disable-sspi --without-librtmp --disable-ftp --disable-file --disable-dict --disable-telnet --disable-tftp --disable-rtsp --disable-pop3 --disable-imap --disable-smtp --disable-gopher --disable-smb --without-libidn --disable-ares --disable-zlib  --disable-libcurl-option   --without-ssl
        make -j $(getconf _NPROCESSORS_CONF)
        export DESTDIR=${PRF_PATH}
        env DESTDIR=${PRF_PATH} make install
    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        # Artifact name
        name: curl
        # A file, directory or wildcard pattern that describes what to upload
        path: ${PRF_PATH}
