name: static link minimal curl build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
env:
  # TODO: Change variable to your image's name.
  DOCKER_REPO: docker.io
  DOCKER_NS: bettercode

jobs:
  ci:

    runs-on: ubuntu-latest
    env:
      PRF_PATH:  ${PWD}/prefixbld
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: |
        set -x
        make
    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        # Artifact name
        name: curl
        # A file, directory or wildcard pattern that describes what to upload
        path: scurl/_bin/curl

    - name: Docker login
      uses: docker/build-push-action@v1.1.0
      with:
        username: ${{ github.hub_docker_com_user }}
        password: ${{ secrets.hub_docker_com_pass }}
        registry: ${DOCKER_REPO}
    - name: Docker push  
      run: |
        bash
        docker build . --file Dockerfile --tag imagex
        
        docker login -u ${{ github.hub_docker_com_user }} -p "${{ secrets.hub_docker_com_pass }}" ${DOCKER_REPO}/${DOCKER_NS}
        IMAGE_URL=${DOCKER_REPO}/${DOCKER_NS}/${{ github.repository }}
        # Change all uppercase to lowercase
        IMAGE_URL=$(echo $IMAGE_URL | tr '[A-Z]' '[a-z]')

        # Strip git ref prefix from version
        VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')

        # Strip "v" prefix from tag name
        [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')

        # Use Docker `latest` tag convention
        [ "$VERSION" == "master" ] && VERSION=latest

        echo IMAGE_URL=$IMAGE_URL
        echo VERSION=$VERSION
        TAG=${VERSION}

        docker tag imagex $IMAGE_URL:${TAG}
        docker tag imagex $IMAGE_URL:latest
        docker push $IMAGE_URL:${TAG}
        docker push $IMAGE_URL:latest
        docker rmi imagex
        docker rmi $IMAGE_URL:${TAG}
        docker rmi $IMAGE_URL:latest
